just
builtins.h
.ccache
.vscode
deps/v8/libv8_monolith.a
deps/v8/gen
deps/v8/src
scratch
*.o
*.a
*.socket
*.sock
out
deps/v8/third_party
deps/v8/testing
deps/zlib/*.log
deps/zlib/*.o
deps/zlib/*.a
deps/zlib/zconf.h
deps/zlib/zlib.pc
deps/zlib/Makefile
deps/zlib/zconf.h
deps/zlib/example
deps/zlib/minigzip
*.wasm
*.bin
deps/openssl-1.1.1d/crypto/buildinf.h
deps/openssl-1.1.1d/configdata.pm
deps/openssl-1.1.1d/Makefile
deps/openssl-1.1.1d/crypto/**/*.s
deps/openssl-1.1.1d/crypto/include/internal/bn_conf.h
deps/openssl-1.1.1d/crypto/include/internal/dso_conf.h
deps/openssl-1.1.1d/include/openssl/opensslconf.h
*.pem