just
builtins.h
.ccache
.vscode
deps/v8/libv8_monolith.a
deps/v8/gen
deps/v8/src
scratch
*.o
*.a
*.socket
*.sock
out
deps/v8/third_party
deps/v8/testing
deps/zlib/*.log
deps/zlib/*.o
deps/zlib/*.a
deps/zlib/zconf.h
deps/zlib/zlib.pc
deps/zlib/Makefile
deps/zlib/zconf.h
